.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa; /* You can change this to your preferred background color */
  position: relative; /* Ensure absolute positioning for icon works */
  border: 1px solid #c2c2c2;
}

.header__logo img {
  margin-left: 30px;
  height: 55px; /* Adjust based on your logo size */
}

.header__search {
  flex: 1;
  margin-left: 10%;
  margin-right: 20px; /* Space between search bar and user info */
}

.header__search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header__user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align text to the right */
  margin-right: 20px; /* Space between user info and icon */
}

.header__name {
  font-size: 1.25rem; /* Increase font size */
  font-weight: bold;
}

.header__location {
  font-size: 0.875rem; /* Adjust the font size */
  color: #6c757d; /* A softer color for location text */
}

.header__role {
  font-size: 0.875rem; 
  color: #555; 
  margin-top: 4px; 
}

.header__icon {
  position: relative; /* Ensure it aligns with the rest of the content */
  margin-left: 10px; /* Add some space between user info and icon */
  cursor: pointer; /* Make it clickable if needed */
}

.header__dropdown {
  position: absolute;
  top: calc(100% + 25px); /* Increase the value to move it lower */
  right: 0;
  width: 12rem; /* Corresponding to w-48 in Tailwind */
  background-color: white;
  border: 1px solid #e5e7eb; /* Corresponding to border-gray-200 in Tailwind */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Corresponding to shadow-lg in Tailwind */
  border-radius: 0.5rem; /* Corresponding to rounded-lg in Tailwind */
  padding: 1rem; /* Corresponding to p-4 in Tailwind */
  z-index: 1000; /* Ensure it appears above other elements */
}
