.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa; /* You can change this to your preferred background color */
    position: relative; /* Ensure absolute positioning for icon works */
    border: 1px solid #c2c2c2;
  }
  
.header__logo img {
    margin-left: 30px;
    height: 55px; /* Adjust based on your logo size */
  }

.header__search {
    flex: 1;
    margin-left: 10%;
    margin-right: 20px; /* Space between search bar and user info */
    margin-top: 15px;
  }
  
.header__search input {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.header__user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align text to the right */
    margin-right: 10px; /* Space between user info and icon */
  }
  
.header__name {
    margin-right: 80px;
    font-size: 18px;
    font-weight: bold;
  }
  
.header__location {
    margin-right: 80px;
    font-size: 14px;
    color: #6c757d; /* A softer color for location text */
  }

.header__icon {
    position: absolute;
    right: 20px; /* Align to the right side */
    top: 27px; /* Align to the top */
    cursor: pointer; /* Make it clickable if needed */
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
  }
