.home_header{
    color: #2C4B84;
    font-size: 46px;
    padding: 5px 0px 0px 30px;
   
}

.filter_align{
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    border: 1px solid #787486;
    width: 10%;
    color: #787486;
    margin-left: 31px;

}

.header_align_home{
    display: flex;
    flex-direction: row;
}

